#root {
    box-sizing: border-box;
}

html,body{
    background-color: darkslateblue;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.line{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 150px;
}

#first{
    color: white;
    width: 700px;
    text-align: center;
    background-color: black;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

#first2{
    color: white;
    width: 700px;
    margin-top: 10px;
    text-align: center;
    background-color: black;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

#second{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

.root-container {
    margin-top: 70px;
    margin-right: 100px;
    display: inline-block;
    flex-direction: column;
    overflow: hidden;
    animation: animate2 1.5s ease-in-out;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    margin-bottom: 15px;
    align-items: center;
    background-color: white;
    border-top-left-radius: 9px;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
    overflow: hidden;
}

.selected-controller {
    transition: border 0.5s;
    transition: ;
    border-bottom: 5px solid #70a1ff;;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    border-bottom-left-radius: 10px;
    padding: 24px;
    padding-top: 5px;
    background-color: white;
}

.inner-container {
    transition: visibility 0.5s;
}

.inner-container.show {
    visibility: visible;
}

.header {
    text-align: center;
    padding: 0px;
    width: 288px;
    margin-bottom: 17px;
    /* margin-left: 35px; */
    /* margin-right: 35px; */
    font-size: 22px;
    overflow: hidden;
}

.header .bawah{
    width: 288px;
    height: 3px;
    background-color:#70a1ff;
    animation: animate1 3s ease-out;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
        background-color: white;
    }
    100%{
        transform: translateX(0%);
        background-color: #70a1ff;
    }
}

@keyframes animate2{
    0%{
        transform: translateX(150%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes animate3{
    0%{
        transform: translateY(105%);
    }
    100%{
        transform: translateY(0%);
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teks{
    align-items: center;
    display: flex;
    font-size: 12px;
}

.info{
    padding-top: -0.5px;
}

.teks a{
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

small{
    font-size: 10px;
}

.nm{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nm1{
    display: inline-block;
    flex-direction: row;
    visibility: visible;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-bottom: -9px;
}

.nm1 #nmd1{
    margin-right: 34px;
}

.nm .login-input{
    width: 140px;
}

.nm #nmd{
    margin-right: 8px;
}

.login-label {
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

.login-input {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid #70a1ff;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 15px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.custom-control-label{
    font-size: 13px;
    cursor: pointer;
}

.login-input:hover {
    border: 2px solid #70a1ff;
}

.login-input:focus {
    border: 2px solid #6565e7;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
    font-size: 12px; 
    color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

.btn-primary {
    padding: 2px 15px;
    float: right;
    /* background-color: #417cef; */
    font-size: 18px;
    border-radius: 9px;
    margin-top: 10px;
    border: 2px solid white;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 13px;
    font-style: italic;
}

.reg{
    padding: 2px 15px;
    float: left;
    width: 288px;
    /* background-color: #417cef; */
    font-size: 18px;
    border-radius: 9px;
    margin-top: 10px;
    border: 5px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:white;
    color: #417cef;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}

//Password
.password-state {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    decoration: none;
}

.pwd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pwd-weak {
    background-color: #e74c3c;
}

.pwd-medium {
    background-color: #3498db;
}

.pwd-strong {
    background-color: #2ecc71;
}

.show {
    visibility: visible;
}